name: Linux CI/CD
on:
  pull_request:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  linux-build:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        node-version: [22.x]
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - name: Print versions
        run: |
          cat /etc/os-release
          node -v
          npm -v
      - name: Install dependencies
        run: npm ci
      - name: Run tests
        run: npm run test
      - name: Store snapshots from tests
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: snapshots-linux-node-${{ matrix.node-version }}
          path: ${{ github.workspace }}/src/__snapshots__/
      - name: Run lint
        run: npm run lint
      - name: Run format
        run: npm run format
      - name: Make sure docs can be build
        run: npm run build:docs
      - name: Run jest smoke tests
        run: npm run test:jest
