name: Windows CI/CD
on:
  pull_request:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  windows-build:
    runs-on: windows-latest
    strategy:
      matrix:
        node-version: [22.x]
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - name: Print versions
        shell: pwsh
        run: |
          $PSVersionTable
          Get-ComputerInfo | Select-Object WindowsProductName, WindowsVersion, OsHardwareAbstractionLayer
          node -v
          npm -v
      - name: Install dependencies
        shell: pwsh
        run: npm ci
      - name: Run tests
        shell: pwsh
        run: npm run test
      - name: Store snapshots from tests
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: snapshots-windows
          path: ${{ github.workspace }}/src/__snapshots__/
      - name: Run lint
        shell: pwsh
        run: npm run lint
      - name: Run format
        shell: pwsh
        run: npm run format
      - name: Make sure docs can be build
        shell: pwsh
        run: npm run build:docs
      - name: Run jest smoke tests
        shell: pwsh
        run: npm run test:jest
